
Seth_Examples/Inglefield_Data/INGLEFIELD_RIPS
*.pdb
/Library
/bin
/_pycache_
/conda-meta
/DLLs
/etc
/include
/info
/Lib
/libs
/Menu
/Scripts
/share
/Shared Libraries
/sip
/tcl
/Tools
*.exe
*.png
*.conf
*.pyc
